

/* We use this media query to add styles to any device that supports media queries */
@media only screen {
li{
	display: inline;
}
nav{

	background-color: #ffffff;
	/*background-color: red;*/
}
.button{
	background-color: #EBDA36;
	border: none;
}
.button:hover{
	background-color: #E8A20C;
}
.afb{
	width: 154px;
	height: 154px;
	margin-bottom: 10px;
}
#menu{
	width: 100%;
	margin: 0 auto;
}
#logo{
	width: 150px;
	margin-left: 5%;
	margin-right: 20%;
}
.panel{
	padding-left: 9%;
}
#paneelContact{
	padding-left: 20%;
}
#picto{
	float:left;
	width: 20%;
}
#home{
	padding-top: 10%;
}
#aboutMe{
	padding-top: 20%;
}
#myWork{
	padding-top: 20%;
}
#contactGev{
	padding-top: 6%;
}
.activeMenu{
	color: red;
}
.flexslider {
    width: 80%;
}

.flexslider .slides img {
    width: 60%;
    height: 400px;
}
#slideIT{
	padding-left: 17%;
} 
#contactGev{
	width: 250px;
	margin: 0 auto;
}
}



@media only screen and (max-width: 780px){
	li{
		display:block;
	}
	.button
	{
		margin-left: 15%;
		margin-bottom: 1%;
		width: 50%;
	}

	#home{
	padding-top: 60%;
	}
	#aboutMe{
		padding-top: 70%;
	}
	#myWork{
		padding-top: 60%;
	}
}
@media only screen and (max-width: 500px){


	#home{
	padding-top: 60%;
	}
	#aboutMe{
		padding-top: 70%;
	}
	#myWork{
		padding-top: 60%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px){
	#home{
	padding-top: 120%;
	}
	#aboutMe{
		padding-top: 130%;
	}
	#myWork{
		padding-top: 130%;
	}
}
@media only screen and(min-width:768px) and(max-width:1024px){
		#home{
	padding-top: 190%;
	}
	#aboutMe{
		padding-top: 190%;
	}
	#myWork{
		padding-top: 190%;
	}
}


